.title{
    margin-top: 70px;
    font-size: 70px;
    text-align: center;
    font-family: 'Protest Revolution', sans-serif;
}
.head{
     font-family: 'Protest Riot', sans-serif;
     text-align: center;
}
p{
    font-size: 21px;
    text-align: center;
}
.name{
    margin-top: 90px;
}